In [1]:
#Loop Lists

fruits = ["Ladyfinger", "Potato", "Pineapple", "apple", "banana", "Mango"]
for x in fruits:
    print(x)

Ladyfinger
Potato
Pineapple
apple
banana
Mango

In [2]:
#Looping lists with index numbers

fruits = ["Ladyfinger", "Potato", "Pineapple", "apple", "banana", "Mango"]
for x in range(len(fruits)):
    print(fruits[x])

Ladyfinger
Potato
Pineapple
apple
banana
Mango

In [6]:
#Using While Loop
fruits = ["Ladyfinger", "Potato", "Pineapple", "apple", "banana", "Mango"]
i = 0
while i < len(fruits):
    print(fruits[i])
    i = i + 1

Ladyfinger
Potato
Pineapple
apple
banana
Mango

In [7]:
thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
  print(thislist[i])
  i = i + 1

apple
banana
cherry

In [4]:
#Using While Loop
fruits = ["Ladyfinger", "Potato", "Pineapple", "apple", "banana", "Mango"]
i = 0
while i < len(fruits):
    print(fruits[i])
    i = i + 1

Ladyfinger
Potato
Pineapple
apple
banana
Mango

In [8]:
thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
  print(thislist[i])
  i = i + 1

apple
banana
cherry

In [11]:
fruits = ["Ladyfinger", "Potato", "Pineapple", "apple", "banana", "Mango"]
print(len(fruits))

6

In [3]:
print("Hello World")

Hello World

In [14]:
fruits = ["Ladyfinger", "Potato", "Pineapple", "apple", "banana", "Mango"]
[print(x) for x in fruits]

Ladyfinger
Potato
Pineapple
apple
banana
Mango

[None, None, None, None, None, None]

In [16]:
#List Comprehension
fruits = ["Ladyfinger", "Potato", "Pineapple", "apple", "banana", "Mango"]
newlist = []

for x in fruits:
    if "a" in x:
        newlist.append(x)

print(newlist)

['Ladyfinger', 'Potato', 'Pineapple', 'apple', 'banana', 'Mango']

In [19]:
fruits = ["Ladyfinger", "Potato", "Pineapple", "apple", "banana", "Mango"]
newlist = []
for x in fruits:
    if "L" in x:
     newlist.append(x)

print(newlist)

['Ladyfinger']

In [20]:
fruits = ["Ladyfinger", "Potato", "Pineapple", "apple", "banana", "Mango"]
newlist = []
for y in fruits:
    if "o" in y:
        newlist.append(y)

print(newlist)

['Potato', 'Mango']

In [23]:
fruits = ["Ladyfinger", "Potato", "Pineapple", "apple", "banana", "Mango"]
newlist = [x for x in fruits if "e" in x]
print(newlist)

['Ladyfinger', 'Pineapple', 'apple']

In [25]:
Vegetables = ["Carrot", "Beetroot", "Bottleguard", "Ladies Finger"]
newlist = [y for y in Vegetables if "o" in y]
print(newlist)

['Carrot', 'Beetroot', 'Bottleguard']

In [26]:
Vegetables = ["Carrot", "Beetroot", "Bottleguard", "Ladies Finger"]
newlist = [x for x in Vegetables if x != "Bottleguard"]
print(newlist)

['Carrot', 'Beetroot', 'Ladies Finger']

In [27]:
Vegetables = ["Carrot", "Beetroot", "Bottleguard", "Ladies Finger"]
newlist = [x for x in Vegetables if x == "Bottleguard"]
print(newlist)

['Bottleguard']

In [28]:
newlist = [x for x in range(5)]
print(newlist)

[0, 1, 2, 3, 4]

In [36]:
mynumbers = [x for x in range(10) if x > 2]
print(mynumbers)

[3, 4, 5, 6, 7, 8, 9]

In [37]:
#Expression
fruits = ["Orange", "Apple", "Pineapple", "Mango", "Cherry"]
newlist = [x.upper() for x in fruits]
print(newlist)

['ORANGE', 'APPLE', 'PINEAPPLE', 'MANGO', 'CHERRY']

In [38]:
fruits = ["Orange", "Apple", "Pineapple", "Mango", "Cherry"]
newlist = ["Pomogranate" for x in fruits]
print(newlist)

['Pomogranate', 'Pomogranate', 'Pomogranate', 'Pomogranate', 'Pomogranate']

In [39]:
fruits = ["Orange", "Apple", "Pineapple", "Mango", "Cherry"]
newlist = [x if x != "Orange" else "Pomogranate" for x in fruits]
print(newlist)

['Pomogranate', 'Apple', 'Pineapple', 'Mango', 'Cherry']

In [41]:
 #Sorting List
fruits = ["n", "a", "c", "d", "i", "z"]
fruits.sort()
print(fruits)

['a', 'c', 'd', 'i', 'n', 'z']

In [42]:
 #Sorting List
fruits = [100, 85, 56, 12, 2]
fruits.sort()
print(fruits)

[2, 12, 56, 85, 100]

In [43]:
#Descending Order
numbers = [1, 2, 3, 4, 5, 6]
numbers.sort(reverse = True)
print(numbers)

[6, 5, 4, 3, 2, 1]

In [44]:
#Case Sensitive Sorting

fruits = ["Orange", "Banana", "grapes", "watermelon"]
fruits.sort(key = str.lower)
print(fruits)

['Banana', 'grapes', 'Orange', 'watermelon']

In [45]:
#Case Sensitive Sorting

fruits = ["Orange", "Banana", "grapes", "watermelon"]
fruits.sort()
print(fruits)

['Banana', 'Orange', 'grapes', 'watermelon']

In [46]:
#Reverse Order
fruits = ["Orange", "Banana", "grapes", "watermelon"]
fruits.reverse()
print(fruits)

['watermelon', 'grapes', 'Banana', 'Orange']

In [48]:
#Copy Lists

fruits = ["Orange", "Banana", "grapes", "watermelon"]
fruits1 = fruits.copy()
print(fruits1)

['Orange', 'Banana', 'grapes', 'watermelon']

In [49]:
#Copy Lists

fruits = ["Orange", "Banana", "grapes", "watermelon"]
fruits1 = list(fruits)
print(fruits1)

['Orange', 'Banana', 'grapes', 'watermelon']

In [50]:
#Joining Lists
List1 = ["a", "b", "c"]
List2 = [1, 2, 3]
List3 = List1 + List2
print(List3)

['a', 'b', 'c', 1, 2, 3]

In [53]:
#Joining Lists

List1 = ["a", "b", "c"]
List2 = [1, 2, 3]
for x in List2:
    List1.append(x)
print(List1)

['a', 'b', 'c', 1, 2, 3]

In [57]:
def myfunc(n):
  return (abs(n - 50))

thislist = [100, 50, 65, 82, 23]
for x in thislist:
    myfunc(x)
thislist.sort(key = myfunc)

print(thislist)

[50, 65, 23, 82, 100]

In [59]:
#Joining Lists

List1 = ["a", "b", "c"]
List2 = [1, 2, 3]
List1.extend(List2)
print(List1)

['a', 'b', 'c', 1, 2, 3]

In [60]:
#Tuple

thistuple = ("Apple", "Banana", "Mango")
print(thistuple)

('Apple', 'Banana', 'Mango')

In [61]:
#Tuple Length

thistuple = ("Apple", "Banana", "Mango")
print(len(thistuple))

3

In [62]:
# Tuple with one item

thistuple = ("Apple",)
print(type(thistuple))

<class 'tuple'>

In [63]:
# Tuple with one item. if comma is not mentioned it will take the data type as string

thistuple = ("Apple")
print(type(thistuple))

<class 'str'>

In [64]:
#Tuple with different data types

tuple1 = ("apple", "banana")
tuple2 = (1, 2, 3)
tuple3 = (True, False)

print(tuple1)
print(tuple2)
print(tuple3)

('apple', 'banana')
(1, 2, 3)
(True, False)

In [65]:
#The tuple constructor

tuple1 = tuple((1, 2, 3))
print(tuple1)

(1, 2, 3)

In [1]:
#Accessing Tuple Items

fruits = ("Apple", "Banana", "Cherry")
print(fruits[1])

Banana

In [4]:
#Negative Indexing in Tuple

fruits = ("Apple", "Banana", "Cherry", "Orange")
print(fruits[-2])

Cherry

In [5]:
#Range Of Indexes

fruits = ("Apple", "Banana", "Cherry", "Orange", "Pomogranate", "Pineapple", "Custard Apple")
print(fruits[2:6])

('Cherry', 'Orange', 'Pomogranate', 'Pineapple')

In [6]:
#Check if Item Exists
fruits = ("Apple", "Banana", "Cherry", "Orange", "Pomogranate", "Pineapple", "Custard Apple")
if "Cherry" in fruits:
    print("Yes, Cherry is in fruits")

Yes, Cherry is in fruits

In [7]:
#Check if Item Exists

fruits = ("Apple", "Banana", "Cherry", "Orange", "Pomogranate", "Pineapple", "Custard Apple")
if "Green Apple" in fruits:
    print("Yes, Green Apple is in fruits")

else:
    print("No not available")

No not available

In [10]:
#Change Tuple Values

x = ("Apple", "Banana", "Cherry", "Orange", "Pomogranate", "Pineapple", "Custard Apple")
y = list(x)
y[4] = "Green Apple"
x = tuple(y)
print(x)

('Apple', 'Banana', 'Cherry', 'Orange', 'Green Apple', 'Pineapple', 'Custard Apple')

In [11]:
#Add Items in Tuples using append()

x = ("Apple", "Banana", "Cherry", "Orange")
y = list(x)
y.append("Pineapple")
x = tuple(y)
print(x)

('Apple', 'Banana', 'Cherry', 'Orange', 'Pineapple')

In [12]:
#Add a tuple to a tuple

x = ("Apple", "Banana", "Cherry", "Orange")
y = ("Pineapple",)
x += y
print(x)

('Apple', 'Banana', 'Cherry', 'Orange', 'Pineapple')

In [13]:
#Remove Items in Tuples using remove()

x = ("Apple", "Banana", "Cherry", "Orange")
y = list(x)
y.remove("Banana")
x = tuple(y)
print(x)

('Apple', 'Cherry', 'Orange')

In [15]:
#Unpacking a Tuple
x = ("Apple", "Banana", "Cherry", "Orange")
(Red, Yellow, Maroon, Orange) = x

print(Red)
print(Yellow)
print(Maroon)
print(Orange)

Apple
Banana
Cherry
Orange

In [16]:
#Unpacking a Tuple using Asterick

x = ("Apple", "Banana", "Cherry", "Orange", "Pomogranate", "Pineapple")
(Red, Yellow, Maroon, *Orange) = x

print(Red)
print(Yellow)
print(Maroon)
print(Orange)

Apple
Banana
Cherry
['Orange', 'Pomogranate', 'Pineapple']

In [17]:
#Unpacking a Tuple using Asterick

x = ("Apple", "Banana", "Cherry", "Orange", "Pomogranate", "Pineapple")
(Red, *Yellow, Maroon, Orange) = x

print(Red)
print(Yellow)
print(Maroon)
print(Orange)

Apple
['Banana', 'Cherry', 'Orange']
Pomogranate
Pineapple

In [18]:
#Looping the tuple

fruits = ("Apple", "Banana", "Cherry", "Orange", "Pomogranate", "Pineapple")
for x in fruits:
    print(x)

Apple
Banana
Cherry
Orange
Pomogranate
Pineapple

In [20]:
#Looping the tuple using indexing

fruits = ("Apple", "Banana", "Cherry", "Orange", "Pomogranate", "Pineapple")
for x in range(len(fruits)):
    print(fruits[x])

Apple
Banana
Cherry
Orange
Pomogranate
Pineapple

In [21]:
#Looping by while loop

fruits = ("Apple", "Banana", "Cherry", "Orange", "Pomogranate", "Pineapple")
i = 0
while i < len(fruits):
    print(fruits[i])
    i = i +1

Apple
Banana
Cherry
Orange
Pomogranate
Pineapple

In [22]:
# Joing Two Tuples

Tuple1 = ("a", "b", "c")
Tuple2 = (1, 2, 3)
Tuple3 = Tuple1 + Tuple2
print(Tuple3)

('a', 'b', 'c', 1, 2, 3)

In [23]:
#Multiply the Tuple

fruits = ("Apple", "Banana", "Cherry")
x = fruits * 3
print(x)

('Apple', 'Banana', 'Cherry', 'Apple', 'Banana', 'Cherry', 'Apple', 'Banana', 'Cherry')

In [4]:
#SET

fruits = {"Apple", "Banana", "Cherry"}
print(fruits)

{'Apple', 'Cherry', 'Banana'}

In [5]:
#No duplicate items in set

fruits = {"Apple", "Banana", "Cherry", "Apple"}
print(fruits)

{'Apple', 'Cherry', 'Banana'}

In [6]:
#Length of the Set

fruits = {"Apple", "Banana", "Cherry", "Apple"}
print(len(fruits))

3

In [8]:
fruits = {"Apple", "Banana", "Cherry", "Apple"}
for x in fruits:
 print(x)

Apple
Cherry
Banana

In [11]:
fruits = {"Apple", "Banana", "Cherry", "Apple"}
print("Banana" in fruits)

True

In [12]:
#Add the item in the set
fruits = {"Apple", "Banana", "Cherry", "Apple"}
fruits.add("Pineapple")
print(fruits)

{'Pineapple', 'Apple', 'Cherry', 'Banana'}

In [14]:
#Add sets

fruits = {"Apple", "Banana", "Cherry", "Apple"}
vegetables = {"Carrot", "Beetroot"}
fruits.update(vegetables)
print(fruits)

{'Apple', 'Carrot', 'Cherry', 'Banana', 'Beetroot'}

In [15]:
fruits = {"Apple", "Banana", "Cherry", "Apple"}
vegetables = {"Carrot", "Beetroot"}
Newset = fruits.union(vegetables)
print(Newset)

{'Apple', 'Carrot', 'Cherry', 'Banana', 'Beetroot'}

In [16]:
fruits = {"Apple", "Banana", "Cherry", "Apple"}
vegetables = {"Carrot", "Beetroot", "Cherry"}
fruits.intersection_update(vegetables)
print(fruits)

{'Cherry'}

In [17]:
fruits = {"Apple", "Banana", "Cherry", "Apple"}
vegetables = {"Carrot", "Beetroot", "Cherry"}
fruits.symmetric_difference_update(vegetables)
print(fruits)

{'Apple', 'Carrot', 'Banana', 'Beetroot'}

In [19]:
#Dictionaries

mydict = { 
    "Vehicle" : "Car",
    "Name" : "Benz",
    "year" : 2024
}

print(mydict)

{'Vehicle': 'Car', 'Name': 'Benz', 'year': 2024}

In [21]:
mydict = { 
    "Vehicle" : "Car",
    "Name" : "Benz",
    "year" : 2024
}
print(mydict["Name"])

Benz

In [23]:
#Adding values in dictionaries
mydict = { 
    "Vehicle" : "Car",
    "Name" : "Benz",
    "year" : 2024
}
x = mydict.keys()
print(x)
mydict["Color"] = "Black"
print(x)

dict_keys(['Vehicle', 'Name', 'year'])
dict_keys(['Vehicle', 'Name', 'year', 'Color'])

In [24]:
mydict = { 
    "Vehicle" : "Car",
    "Name" : "Benz",
    "year" : 2024
}
for x in mydict:
    print(x)

Vehicle
Name
year

In [25]:
mydict = { 
    "Vehicle" : "Car",
    "Name" : "Benz",
    "year" : 2024
}
for x in mydict:
    print(mydict[x])

Car
Benz
2024

In [26]:
mydict = { 
    "Vehicle" : "Car",
    "Name" : "Benz",
    "year" : 2024
}
for x in mydict.values():
    print(x)

Car
Benz
2024

In [27]:
mydict = { 
    "Vehicle" : "Car",
    "Name" : "Benz",
    "year" : 2024
}
for x in mydict.keys():
    print(x)

Vehicle
Name
year

In [29]:
mydict = { 
    "Vehicle" : "Car",
    "Name" : "Benz",
    "year" : 2024
}
for x, y in mydict.items():
    print(x, y)

Vehicle Car
Name Benz
year 2024